

.inner-width{
	width: 73.125em;
	margin: 0 auto;
}

.sort{
width: 100%
}

.col2right{
	width: 120em;

}

.main-content-right{
width: 275px;


}



.right{
	/*width: 690px;*/
	width: 35.9375%;
	float: right;
	background-color:#fff;
	
}

.footer-wrapper{
	width: 120em;
}

.insta-widget{
	width:100%;
	line-height: 0px;

}

.subscribe{

	width: 100%;
	/*line-height: 200px;*/
	color: white;


}

.footer-top{
	width: 100%;
	background-color:#212121; 
	/*line-height: 540px;*/
	padding-top: 50px;
	padding-bottom: 50px;

}


.footer-bottom-wrapper{

	width: 100%;
	line-height: 42px;
	background-color: #303030;
}

.footer-bottom-left{
	width: 60%;

}

.footer-bottom-right{
	width: 40%;
}