

span{

  font-weight: bold;
  font-size: 18px;
  text-align: center;
  word-spacing: 1px;
}

a{
  /*color: white;*/
  text-decoration: none;
  font-size: 9px;


}

li a:hover{
color: blue;
transition-timing-function: ease-in-out;
}

ul li{
  list-style: none;
}

body{
  font-family: Montserrat;
}

.container{
  width: 73.125em;
  margin: 0 auto;
  overflow: hidden;
}
.btn-link{
  border-radius: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.top-bar{
  background-color: #000;
  
  overflow: hidden;
  
  width: 1920px;
  padding: 10px 0px;
}

.top-bar a{
	text-decoration: none;
	color: #858687;
}

.top-bar a:hover{
	color: #fff;
}

.top-bar-left{
  float: left;
  overflow: hidden;
  font-size: 16px;
}

.top-bar-right{
  float: right;
  overflow: hidden;
  font-size: 10px;
  font-weight: 700;
}

.top-bar-left .top-bar-icons{
  padding-right: 10px;
}

.top-bar-right .top-bar-icons{
  
}
.top-bar-right .top-bar-icons i{
  font-size: 16px;
  padding-right: 6px;
  padding-left: 8px;
  font-style: normal;
}

.slider-wrapper{
  color: #fff;
  background: url('../images/MaskedheadBg.png');
  position: relative;
  width: 1920px;
}

.down-bar{
  overflow: hidden; 
}


.down-bar-left{
  float: left;
  overflow: hidden;
  font-size: 24px;
  font-weight: 700;
  padding-top: 10px;
}

.down-bar-right{
  float: right;
  overflow: hidden;
  padding-right: 20px;
}

.nav-bar{
  float:left;
  overflow: hidden;
  font-size: 14px;
  padding-right: 40px;
}

.nav-bar-others{
  float:right;
  overflow: hidden;
  
}


.nav-bar-others i{
	padding-right: 4px;
	padding-top: 16px;
	font-style: normal; 	
}

.nav-bar-others a{
	font-size: 20px;
	color: white;
}

.dropdown{
  float: left;
  overflow: hidden;
  
}

.dropbtn i{
	padding-left: 10px;
}

.dropdown .dropbtn{
  color: #fff;
  padding-right: 30px;
  border: none;
  margin: 0px;
  font-weight: 700;
  
  background-color: transparent;
  padding-top: 16px;
  padding-bottom: 20px;
  
}

.dropdown:hover .dropbtn{
  border-bottom: 4px solid red;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #000;
  color: #fff;
  min-width: 150px;
  z-index: 1;
  text-transform: uppercase;
}

.dropdown-content a{
  text-decoration: none;
  display: block;
  color: #fff;
}

.dropdown-content a:hover{
  background-color: #5a5b5b;
}

.dropdown:hover .dropdown-content{
  display: block;
}


.slider-content{
  width: 810px;
  margin: 0 auto;
  text-align: center;
}

.slider-content-up{
  text-transform: uppercase;
  margin-top: 220px;
}

.slider-content-up p{
	color: #858687;
	font-size: 18px;
	font-weight: 700;
}

.slider-content-up h1{
	color: white;
	font-size: 40px;
	font-weight: 900;
	padding-top: 10px;
}


.btn-read-more{
	margin-top: 46px;
} 

.btn-read-more a{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: #333399;
	color: white;
}

.btn-read-more a:hover{
	background-color: white;
	color: #333399;
}

.slider-content-down{
	margin-top: 80px;
}

.slider-content-down p.name-p{
	padding-top: 14px;
	font-size: 14px;
}

.slider-content-down p.date-p{
	padding-top: 10px;
	font-size: 14px;
	color: #858687;
}

.circularDiv{
  border-radius: 50%;
  width: 58px;
  height: 58px;
  margin: 0 auto;
  background: url('../images/Photo-Henry.png');
  background-size: cover;
}

.likes-and-comments{
	padding-top: 30px;
	padding-bottom: 60px;
}

.likes-and-comments a{
	text-decoration: none;
	color: white;
	padding-right: 20px;
	color: #858687;
}


.sort-div{
  text-transform: uppercase;
  width: 1920px;
  font-size: 12px;
  color: black;
}

.sort-div li{
  display: inline-block;
  padding-right: 38px;
}

.sort-div span{
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 28px;
}

.sort-btn{
	background-color: #f4f4f7;
	
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	
}

.sort-btn:active{
	border: 1px solid #333399;
}

.left-arrow{
  position: absolute;
  top: 366px;
  left: 40px;
  background: url('../images/left-arrow.png');
  width: 13px;
  height: 22px;
  background-size: cover;
}

.right-arrow{
  position: absolute;
  top: 366px;
  right: 40px;
  background: url('../images/right-arrow.png');
  width: 13px;
  height: 22px;
  background-size: cover;
}


.search-input{
  display: none;
  position: absolute;
  min-width: 150px;
  z-index: 1;
}

.search-icon:hover{
  color: red;
}

.search-icon:hover .search-input{
  display: block;
}

/*mainbody*/


.col2right{
  background-color: #f5f5f5;
  height: 2200px;
}
.col2right-wrapper{
  position: relative;
}


.right{

  margin-top:30px; 
  height: 2170px;
  

}

.main-content{
  margin-top:30px;
  /*background-color: yellow;*/  
  position:absolute;
  z-index:1;
  margin-left: 375px;
  /*margin:s 0 auto;*/
  /*height: 50px;*/

}

.main-content-left{
  float: left;
  /*width: 820px;*/
  width: 70.08547%;
}

.article1{
  background-color: white;
  width:100%;
}

.article1-top iframe{
  width: 100%;
  height: 420px;

}
.article1-top p {
  width: 100%;
  font-weight: 700;
}
.article1-top img{
  margin-top: 10px;

}

.article1-bottom {
  width: 100%;

  margin-top: 10px;
  background-image: url("../images/smallline.png");
  background-repeat: no-repeat;
  /*background-size: 100%;*/
  padding-top: 5px;


}
.article2{
  width: 100%;
  margin-top: 20px;

}
.article2-left iframe{
  width: 260px;
  float: left;
  height: 165px;
}

.article2-left{
  float: left;
  height: 165px;
  width: 31.70731707%;
}


.article2-right{
  height: 165px;
  background-color: white;
  /*padding-left: 5px;*/
}

.article2-right span{
  color: black;
  font-weight: 700;
  padding-left: 5px;
}
.article2-right p{
  margin-top: 5px;
  color: black;
    font-weight: 400;
    font-size: 14px;
    padding-left: 5px;
  
}
.article2-right-bottom img {
  /*width: 550px;*/
  margin-top:30px; 
  padding-bottom: 4px;
  background-image: url("../images/smallline.png");
  background-repeat: no-repeat;
}

.article3 {
  display: flex;

  margin-top: 20px;


}

.article3 span{
  color: black;

}
.article3-1{
  flex:1;
  width:  265px;
  background-color: #fff;
  float:  left; 
  /*margin: 0 10px;*/
  margin: 0 7px;

}

.article3-2{
   width:  265px;
   margin: 0 5px;
  flex:1;
  float:  left; 
  background-color: #fff;
  /*background-color: green;*/
}

.article3-3{
   width:  265px;
  flex:1;
  background-color: #fff;
  /*background-color: blue;*/
float:  left;
position: relative;
}

.leftButton{
  height: 36px;
  width: 36px;
  background-image: url('../images/keyboard_arrow_left.png');
  background-repeat: no-repeat;
  border: none;
  position: absolute;
  left: 10px;
  top: 18%;
  
}

.rightButton{
  height: 36px;
  width: 36px;
  background-image: url('../images/keyboard_arrow_right.png');
  background-repeat: no-repeat;
  border: none;
  position: absolute;
  right:14px;
  top: 18%;

}

.mySlides{
  display: none;

}

.article3 p{

  margin: 10px 0px;

}

.article3-bottom img{
  margin-top: 20px;
}
.article4{
  background-color: #fff;
  margin-top:20px;

}

.article4-1{
  float: left;
   background-color: #fff;
  width: 400px;
}

.article4-2{
  width: 400px;
  float:right;
   background-color: #fff;
}

.article4-top p{

margin-top: 10px;  
}

.article4-bottom{
  margin-top: 15px;
  
}

.show-more img{
  margin-top: 60px;
  float: right;
  
}

.main-content-right{
  float: right;
  /*background-color: green;*/
}

.search-widget{
  line-height: 80px;
}

.search-widget input{

  color: white;
  line-height: 50px;
  background-repeat: no-repeat;
  background-color: #f5f5f5;
  border-radius: 50px;
  border:none;
  background-image: url("../images/search.png");
  background-position: right;
  padding-left: 7px;
  padding-right: 50px;
  color: black;
}


.categories span{
  line-height: 30px;
  color: blue;
  border-bottom: 0.5px solid #aec3ff;
  display: block;
  text-align: left;


}

.categories ul li{
  line-height: 40px;
  border-bottom: 0.5px solid grey;
}

.categories ul li:hover{
  line-height: 40px;
  border-bottom: 0.5px solid cyan;
}

.categories ul li:last-child{

    border:none;
}



.categories li span{
  float: right;
  border:none;
  font-weight: 700;
  font-size: 14px;
  color: black;
  margin-top: 5px;
}

.categories li a{
  font-weight: 400;
  color: black;
  font-size: 14px;
}



.subcribe span{
  line-height: 30px;
  color: blue;
  border-bottom: 0.5px solid #aec3ff;
  display: block;
  text-align: left;
  margin-top: 15px;


}

.subcribe p{
  line-height: 30px;
  font-weight: 400px;
  font-size: 15px;

}

.subcribe input{

  /*margin-top: 30px;*/
  list-style: none;
  border: 0.5px solid #757575;
  width: 265px;
  border-radius: 6px;
  background-color:#ffffff;
  line-height: 30px;
  padding-left: 5px;
  display: block;
  /*color: white;*/

}

#separator{
  text-align: center;
}

.subcribe button{
  margin-top: 10px;
  width: 270px;
  background-color: #3f51b5;
  border: 0.5px solid #757575;
  line-height: 40px;
}
.subcribe button a{
  color:white;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  display: block;
}
.subcribe button a:hover{
  color:black;
}

.tab{
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid blue;
}
.tab a{
  font-size: 15px;
  width: 49.129%;
  display:inline-block;
  /*width: 135px;*/
  line-height: 40px;
  color: #3f51b5;
  text-align: center;
  font-weight: 400;
}



.tab a:hover{
  background-color:  #3f51b5;
  color: white;
}

.tab-post ul li:first-child{
  margin-top: 15px;
  border-bottom: 1px solid #dee5e9;
  display: block;
}

.tab-post ul li{
  margin-top: 15px;
  border-bottom: 1px solid #dee5e9;
  display:block;
}

.tab-post ul li:hover{
  
  border-bottom: 1px solid cyan;
  
}


.tab-post ul li:last-child{

  border-bottom: none;
  
}
 #img{

  margin-bottom: 25px;
}


.tags span{

  line-height: 30px;
  color: blue;
  border-bottom: 1px solid #aec3ff;
  display: block;
  text-align: left;
  margin-top: 15px;
  width: 275px;


}


.tags-collection{
  /*border: 1px solid red;*/
  width: 275px;
  margin-top: 10px;

}

.tags-collection ul li {
  line-height: 30px;
  display: block;
  float: left;
  margin: 0 15px;
}

.tags-collection ul li a{

  display: inline-block;
  font-size: 10px;
  font-weight: 700;
  background-image: url('../images/bgtag .png');
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  text-align:center;


}

.tags-collection ul li a:hover{

color: blue;


}

.subscribe{
  background-image: url('../images/subscribeBg.png');
  background-repeat: no-repeat;
  line-height: 190px;
  position:relative;  
} 

.subsText span{
  color: white;
  font-family: "Montserrat";
  font-size:42px;
  font-weight: 900;
  top: 70px;

}

.subscribe input{
  width:270px;
  line-height:45px;
  border-radius: 130px; 
  background-color: transparent;
  padding-left: 10px;
  font-size: 16px;
  font-weight: 300;
  margin-left:30px; 
  border : 1px solid #747577;
  color: white;

}

.subscribe button{
  width: 170px;
  line-height:40px;
  background-color: #303f9f;
  color: white;
  border-radius: 80px;
  font-size: 17px;
  font-weight: 400;
  margin-left: 20px;
  border:none;

}


.footer-top-wrapper{
  display: flex;
  width: 72.325em;


}

.footer-wrapper span{
  color:white;
}
.pages {
  flex:1;
  line-height: 20px;
  color: white;


}

.pages ul{
  margin-top: 30px;
  width: 260px;
}
.pages ul li{
  margin-bottom:  10px;
  list-style: none;
  border: 0.5px solid #757575;
  border-radius: 6px;
  position: relative;
  padding-left: 5px;
}

/*.pages ul li:first-child{
  margin-top: 30px;
  list-style: none;
  border: 0.5px solid #757575;
  width: 260px;
  border-radius: 6px;
  position: relative;
  padding-left: 5px;
}*/


.pages ul li span{
  position: absolute;
  float: right;
  right: 15px;
  top: 12px;
  }

.pages ul li a{
  text-decoration:none;
  line-height: 45px;
  font-size: 18px;
  color:  #bdbdbd;


}

.dropdowns{
    position: relative;
/*    display: inline-block;
*/    width: 255px;
    /*margin-left: -3px;*/

}

.dropdowns:hover {
  height: 160px;
}
.dropdowns-content{
    overflow: hidden;
    display:none;
    position:absolute;
    top : 7px;  
    /*left: -1px;*/
    z-index: 1;
    /*border:none;*/
  /*width: 240px;*/
  /*width: 20px;*/


}
.dropdowns-content li{
  /*border: none;*/
  margin: 0px;
  border: none;
  /*width: 20px;*/
  /*border: none;*/
  /*border: 0.5px solid red;*/
}
.dropdown-content li:hover {
  padding: 0px;
  display: block;
  margin: 0px;
}
.dropdowns:hover  img{
  content: url("../images/remove.png");

}

.dropdowns-content a:hover {
  display: inline-block;

  background-color: #ddd;
}

.dropdowns:hover .dropdowns-content {display:block; background:#212121;}



.widget{
  flex: 1;
  line-height: 20px;
  /*align-items: flex-end;*/

}

.twitter-widget ul {
  list-style: none;
  margin-top: 30px;
  /*color: #595959*/
}
.twitter-widget ul li{
  height: 90px;
  border-bottom:0.5px solid #757575;
  width: 260px;
}

.twitter-widget ul p
{
  color: #fff;
  display: inline-block;
  font-size: 13px;
  font-weight: 300;
}

.twitter-widget ul li a
{
  color: #fff;
  font-size: 13px;
  font-weight: 300;
}
.tweets ul img{
  background-color: transparent;  
}

.social-widget{
  text-align:left;
  /*margin-top:350px;*/
  line-height: 50px;
}

.flickr{
  flex: 1;
  line-height: 20px;
  /*margin-top: 50px*/

}


.flickr img{
  
  margin-top: 30px;
  width: 270px;
  
}

.newsletter{
  flex: 1;
  line-height: 20px; 
  /*color: white;*/

}



.newsletter input{
  margin-top: 30px;
  list-style: none;
  border: 0.5px solid #757575;
  width: 260px;
  border-radius: 6px;
  background-color: transparent;
  line-height: 50px;
  padding-left: 5px;
  color: white;


}

#email{
  margin-top: 10px;
}

.newsletter textarea{
  background-color: transparent;
  border: 0.5px solid #757575;
  /*text-align: */

}

#msg{
  width: 260px;
  height: 170px;
  border: 0.5px solid #757575;
  padding-left: 5px;
  padding-top: 10px;
  margin-top: 10px;
  padding-bottom:0px;
  resize: vertical;
  border-radius: 6px;
  color: white;

}

.newsletter button{
  width: 265px;
  background-color: transparent;
  border: 0.5px solid #757575;
  line-height: 40px;
  color: #fff;
  font-size: 18px;
  background-color: #303030;
  font-weight: 400;
}

.footer-bottom{
background-color: #303030;
/*line-height:80px;*/
}

.footer-bottom-left {
  display: inline-block;
  float: left;
}

.footer-bottom-left ul li
{
  list-style: none;
  display: inline-block;
}

.footer-bottom-left ul li a
{
  color:white;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  margin-right: 38px;
  line-height: 80px;
  display: inline-block;
}

.footer-bottom-left ul li a:hover
{
  color:red;
}

.footer-bottom-right{
  margin-top: 20px;
  float: right;
}

.searchbar{
  float: left;
  margin-left: 150px;
}

.searchbar input{
  background-image: url('../images/search-icon.png');
  background-repeat: no-repeat;
  background-position:right;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50px;
  line-height: 33px;
  padding-left: 5px;
  padding-right: 25px;
  color: white;


}

.searchbar img{
  margin-right: -50px;
}
.language{
  float: right;
  margin-right: 40px;
  color: white;
}
.language span a{
  
  font-weight: 400;
  font-size: 15px;
  padding-left: 5px;
}
/*mainbodyends*/


@media only screen and (max-width:768px)
{

    

.inner-width{
  width: 73.125em;
  margin: 0 auto;
}

.sort{
width: 100%
}

.col2right{
  width: 120em;

}

.main-content-right{
width: 275px;


}



.right{
  /*width: 690px;*/
  width: 35.9375%;
  float: right;
  background-color:#fff;
  
}

.footer-wrapper{
  width: 120em;
}

.insta-widget{
  width:100%;
  line-height: 0px;

}

.subscribe{

  width: 100%;
  /*line-height: 200px;*/
  color: white;


}

.footer-top{
  width: 100%;
  background-color:#212121; 
  /*line-height: 540px;*/
  padding-top: 50px;
  padding-bottom: 50px;

}


.footer-bottom-wrapper{

  width: 100%;
  line-height: 42px;
  background-color: #303030;
}

.footer-bottom-left{
  width: 60%;

}

.footer-bottom-right{
  width: 40%;
}


}