*{
	padding:0;
	margin: 0;
}

body{
	background-color: black;
	backface-visibility: 0.3;

}


.container{
	overflow: hidden;
	position: relative;
	display: inline-block;
	margin: 50px;
}
.image-wrapper{
	width: 7000px;
	position: absolute;
	list-style: none;
	display: block;
	float: left;

}

.circleDots{
	height:30px;
	width:150px;
	position:absolute;	
	bottom:20%;
	left:35%;
	/*background: red;*/
}
.circleDots ul li {
	height:15px;
	display:inline-block;
	text-decoration:none;	
	width:15px;
	border-radius:10px;
	background-color:white;
	opacity:0.5;
	
}

.circleDots ul li :hover{
	background-color: pink;
}


.image-wrapper li {
	display: inline-block;
	float: left;	
}





